@import "tailwindcss";

@theme {
    --color-navy-blue: #112D49;
    --color-steel-blue: #41576D;
    --color-light-gray:#ECEEF0;
    --color-mid-gray: #4D4D4D;
    --color-light-white:#F4F4F4;
    --color-dark-gray:#4A4A4A;
    --color-off-white:#EEEDED;
}